:root {
  --dimension: 500px;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#grid-container {
  margin-top: 2em;
  border: 1px solid black;
  height: var(--dimension);
  width: var(--dimension);
}

